__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc
*.pyo
*.sqlite3

.env

db.sqlite3
*.db

.DS_Store

env/
venv/
ENV/
env.bak/
venv.bak/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.ipynb_checkpoints

.idea/

.vscode/

.python-version

Pipfile.lock

celerybeat-schedule

*.bak
*.backup

docs/_build/

.pytest_cache/